@model Person

<div class="row">
    <div class="col">
        <p>@Model.PersonName</p>
    </div>
    <div class="col">
        <p>@Model.PhoneNumber</p>
    </div>
    <div class="col">
        <p>@Model.City</p>
    </div>
    <div class="col">
        <a class="btn btn-danger" asp-action="DeletePartial" asp-controller="People" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>